body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header .logo img {
    height: 40px;
  }
  
  .header .search-bar {
    flex-grow: 1;
    margin: 0 5px;
  }
  
  .header .search-bar input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
  }
  
  .header .nav-links a,
  .header .user-options a {
    font-weight: bold;
    font-size: small;
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
  }
  
  .header .nav-links a:hover,
  .header .user-options a:hover {
    background-color: #ddd;
    border-radius: 5px;
  }
  
  /* nav complete */

  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid black;
  }
  
  .form-left {
    flex-basis: 50%;
    border: 1px solid red;
  }
  
  .form-right {
    flex-basis: 50%;
    border: 1px solid red;
  }
  
  .content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
  }
  .submit-button{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
  }